<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/javascript/page.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>


    <!-- CRIMSON TEXT FONT -->
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:600italic,400,700' rel='stylesheet' type='text/css'>

    <!-- JULIUS SANS ONE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>



</head>


<body>


    <!-- JUMBOTRON -->
    <div id='welcomeJumbo' class='jumbotron'>
      <div class='jumboContainer container'>
          <h1 class='text-center'>Darragh Monaghan</h1><br> 

              <div class='row'>
                  <h4 id='bullets' class='text-center col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2'>Commercial Guy<span class='highlight'>.</span> Aspiring Geek<span class='highlight'>.</span> Decent Golfer<span class='highlight'>.</span> Dog Person<span class='highlight'>.</span></h4>
              </div><br><br>

              <a href='#portfolio'><div id='viewPortfolio' class='btn btn-default'>VIEW PORTFOLIO</div></a>

        </div>
      </div>
    </div>


    <!-- BODY 1 -->
    <div class='container'>
      <div class='row'>
        <div id='body1' class='body col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2'>
          
            <h2>Hi There<span class='highlight'>.</span></h2>
            <p>I'm a full stack developer, currently based in the UK. Before starting my career in web development, I worked in Business Development for a large multinational based in Hong Kong, working extensively throughout the region.<br><br>

            Having studied International Business at The University of Edinburgh, I began my technical education through General Assembly's WDI programme in San Francisco, and have been continuosly improving my skills ever since.<br><br>

        </div>
      </div>
    </div><br>


    <!-- BODY 2 -->
    <div class='container'>
      <div class='row'>
        <div id='body2' class='body col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2'>
          
            <h2>TECHNICAL STUFF<span class='highlight'>.</span></h2>

            <p>Here are a few of the geek tools that I have in my utility belt<span class='highlight'>:</span></p><br>

            <p>Languages<span class='highlight'>:</span><span class='pull-right'>JavaScript, Ruby, HTML5, CSS3</span></p>
            <p>Frameworks<span class='highlight'>:</span><span class='pull-right'>Node.js, Express.js, Rails, Sinatra, AngluarJS</span></p>
            <p>Databases<span class='highlight'>:</span><span class='pull-right'>MongoDB, MySQL, PostgreSQL</span></p>
            <p>Technologies<span class='highlight'>:</span><span class='pull-right'>AJAX, Bootstrap, Heroku, jQuery, GitHub</span></p>
            <br>
        </div>
      </div>

      <div class='row'>
        <div id='body3' class='body col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2'>

            <h2>PORTFOLIO<span class='highlight'>.</span></h2>

            <h3 id='projectTitle'>Testing</h3>
            <h4 id='projectContent'>Testing</h4>
            <h4 id='techStack'>Testing</h4>

            <div id='portfolio'>
                <!-- 1st row */ -->
                <div id='portfolio1' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <div id='portfolio2' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <div id='portfolio3' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <div id='portfolio4' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <div id='portfolio5' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">
                                
                            </div>
                        </div>
                    </div>
                </div>

               <div id='portfolio6' class="square bg">
                    <div class="content">
                        <div class="table">
                            <div class="table-cell">

                            </div>
                        </div>
                    </div>
                </div>

          </div>
        </div>
      </div>
    </div><br><br>



    <!-- JUMBOTRON -->
    <div id='contactJumbo' class='jumbotron'>
      <div class='jumboContainer container'>
          <h2 class='text-center'>Contact Me</h2><br> 

              <div class='row'>
                  <h4 id='bullets' class='text-center col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2'>
                  </h4>
              </div>
      </div>
    </div>
</body>
</html>