
body {
	background-color: #f7f7f7;
}

.bodyText {
	background-color: white;
}

#welcomeJumbo {
	margin-bottom: 0px;
}



/***********   JumboTron   **************/
#welcomeJumbo {
	background-color: #252839;
	border-bottom: #f2b632 5px solid;
	min-height: 450px;
	display: flex;
}

#welcomeJumbo h1 {
	color: #f2b632;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-style: italic;
}

.jumboContainer {
	margin: auto;
	text-align: center;
	padding-top: 25px;
}

#bullets {
	color: #b5b5b7;
	font-family: 'Julius Sans One', sans-serif;
}

#viewPortfolio {
	background-color: #252839;
	border-radius: 0 0 0 0;
	border-top-color: #f2b632;
	border-bottom-color: #f2b632;

	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0); 

	font-family: 'Julius Sans One', sans-serif;
	color: #f2b632;

	text-align: center;
}

#viewPortfolio:hover {
	background-color: #252839;
	border-radius: 0 0 0 0;
	border-top-color: white;
	border-bottom-color: white;	
	font-family: 'Julius Sans One', sans-serif;
	color: white;

}


/*************************************************/


.highlight {
	color: #f2b632;
	font-weight: bold;
}

.bodyText {
	color: #252839;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

.bodyText h2 {
	color: #677077;
	font-family: 'Julius Sans One', sans-serif;
	font-style: italic;
}


/***************** Portfolio Div **********************/

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    background-color: #1E1E1E;
    overflow: hidden;
}

.content {
	position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.table {
    display:table;
    height:100%;
    width:100%;
}
.table-cell {
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    color: #fff;
}

#portfolio1 {
	background-image: url('../images/iCaddy.png');
}
#portfolio2 {
	background-image: url('../images/Encore.png');
}
#portfolio3 {
	background-image: url('../images/quoraForDummies.png');
}
#portfolio4 {
	background-image: url('../images/rentalFind.png');
}
#portfolio5 {
	background-image: url('../images/weShallGift.png');
}
#portfolio6 {
	background-image: url('../images/election2016.png');
}


/***************** Blog Jumbo **********************/
#blogJumbo {
	background-image: url('../images/books.jpg');;
	min-height: 300px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    border-top: #f2b632 5px solid;
}

#blogJumbo a {
	text-decoration: none;
}

#blogJumbo h2 {
	color: #252839;
	font-family: 'Julius Sans One', sans-serif;
	font-style: italic;
	padding-top: 20px;
}

.shadow {
    color: white;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

/***************** Contact Jumbo **********************/

#contactJumbo {
	background-color: #252839;
	border-top: #f2b632 5px solid;
	min-height: 300px;
	position: static;
	margin-bottom: 0;
}

#contactJumbo {
	color: #f2b632;
	font-family: 'Julius Sans One', sans-serif;
	font-style: italic;
}

#contactJumbo a {
	text-decoration: none;
	color: #f2b632;
}

.form-control {
	border-radius: 0 0 0 0;
}


#sendSMSbtn {
	background-color: #252839;
	border-radius: 0 0 0 0;
	border-top-color: #f2b632;
	border-bottom-color: #f2b632;

	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0); 

	font-family: 'Julius Sans One', sans-serif;
	color: #f2b632;

	text-align: center;
}

#sendSMSbtn:hover {
	background-color: #252839;
	border-radius: 0 0 0 0;
	border-top-color: white;
	border-bottom-color: white;	
	font-family: 'Julius Sans One', sans-serif;
	color: white;

}

input[type="text"], textarea {
  	background-color: #ededed; 
  	color: #252839;
}

::-webkit-input-placeholder {
   color: #f2b632;
}
:-moz-placeholder { /* Firefox 18- */
   color: #f2b632;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f2b632;  
}
:-ms-input-placeholder {  
   color: #f2b632;  
}