
/***********   JumboTron   **************/

#welcomeJumbo {
	background-color: #252839;
	border-bottom: #f2b632 10px solid;
	min-height: 450px;
	display: flex;
}

#welcomeJumbo h1 {
	color: #f2b632;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-style: italic;
}

.jumboContainer {
	margin: auto;
	text-align: center;
	padding-top: 25px;
}

#bullets {
	color: #b5b5b7;
	font-family: 'Julius Sans One', sans-serif;
}

#viewPortfolio {
	background-color: #252839;
	border-radius: 0 0 0 0;
	border-top-color: #f2b632;
	border-bottom-color: #f2b632;

	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0); 

	font-family: 'Julius Sans One', sans-serif;
	color: #f2b632;

	text-align: center;
}

#viewPortfolio:hover {
	background-color: #f2b632;
	border-radius: 0 0 0 0;
	border-color: #f2b632;
	font-family: 'Julius Sans One', sans-serif;
	color: #252839;

}




.highlight {
	color: #f2b632;
	font-weight: bold;
}


.body {
	color: #252839;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

.body h2 {
	color: #677077;
	font-family: 'Julius Sans One', sans-serif;
	font-style: italic;
}


/***************** Portfolio Div **********************/

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    background-color: #1E1E1E;
    overflow: hidden;
}

.content {
	position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

#portfolio1 {
	background-image: url('../images/iCaddy.png');
}
#portfolio2 {
	background-image: url('../images/Encore.png');
}
#portfolio3 {
	background-image: url('../images/quoraForDummies.png');
}
#portfolio4 {
	background-image: url('../images/rentalFind.png');
}
#portfolio5 {
	background-image: url('../images/weShallGift.png');
}
#portfolio6 {
	background-image: url('../images/election2016.png');
}



/***************** Contact Jumbo **********************/

#contactJumbo {
	background-color: #b5b5b7;
	border-top: #252839 3px solid;
	min-height: 250px;

	position: static;
}

#contactJumbo h2 {
	color: #252839;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-style: italic;
}